@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>



<div id="page_content">
    <!-- Begin Left Column -->
    
        <!-- #BeginEditable "content" -->

            <div id="column_l0" class="techfontBlack">

                <p class="auto-style10">
                    <img alt="" height="156" src="../images/contact%20us%203.jpg" width="428" />
                </p>
                <p class="auto-styleContact">
                    <span class="footNoteFont">
                        Call, text or email us anytime! If
                        you'd like to schedule a service call or simply have a tech-related question, we're
                        here to help.
                <p class="auto-styleContact">
                    <strong>
                        <img alt="" height="68" src="../images/smartphone%20icon.jpg" width="68" />&nbsp;&nbsp;&nbsp;
                        Call or Text:
                    </strong>(720) 443-0770
                </p>
                <p class="auto-styleContact">&nbsp;</p>
                <address>
                    <strong>Email:</strong> <a href="mailto:info@tech-on-site.net">Support@example.com</a><br />
                    
                </address>
               
                @*<form id="Form1" runat="server">
                    <em>
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="auto-style11">
                            Please note that Tech On-Site
                            offers <br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            on-site services only
                        </span>
                    </em>
                </form>*@
            </div> <!-- div table tag -->



    
    <!-- End Left Column -->
    <!-- Begin Right Column -->
    <div id="column_r" style="z-index: 1">
        <hr style="height: 16px; color:black; border: 0px" />
        <!-- #BeginEditable "sidebar" -->

        <p>
            <img alt="" height="148" src="../images/operator.jpg" width="203" />

        <p>
        <p>
            &nbsp;
        <p></p>





        <a href="https://www.facebook.com/pages/Tech-On-Site-Computer-Services/120485108014986" target="_blank">

            <img alt="" height="60" src="../images/like-us-on-facebook.gif" width="196" class="auto-style12" />
        </a>

        <div style="margin-top:10px">
            <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" method="post">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="RSB8ESRPJ2594">
                <input type="image" src="../img/ccpaylogo.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="../img/ccpaylogo.png" width="1" height="1">
            </form>
        </div>


        <!-- #EndEditable --><p>
            <!-- End Right Column -->
    </div>
