@{
    ViewData["Title"] = "Home Page";
}
<article>
    <aside>
        <h2>PC Tune-Up</h2>
        <section>
            Over time, computers slow down - it’s just their nature. Internet activity, program installation, file storage and of course, malware, all contribute to drain system resources which can make for a sluggish pc. Tech On-Site technicians are experts in tune-up techniques and can restore your computer to like-new performance.
        </section>
        <ul>
            <li>Malware removal</li>
            <li>Removal of unneeded programs</li>
            <li>Preventing unnecessary applications from loading at startup</li>
            <li>Repairing system registry</li>
            <li>Defragmenting and optimizing system disc</li>
            <li>Our secret blend of performance tweaks</li>
            <li>Installing all operating system updates</li>
            <li>Updating key applications</li>
        </ul>
    </aside>
    <section>

        <hr style="height: 1px; color:black; border: 0px" />
        <h1 class="auto-style5" style="width: 351px">
            <img alt="" height="105" src="images/denver%20skyline%203.png" width="477" />Denver Area Computer
            Services
        </h1>
        <p class="scottstyleCopyNoFontSize">
            Established in 2007, Tech
            On-Site is a full-service computer solutions company focused on residential
            and small-business customers in the Denver metro area. Specializing in on-site technical &amp; computer consulting, Tech On-Site builds customer relationships by offering responsive, cost effective &amp; reliable software and hardware solutions.
        </p>
        <p class="scottstyleCopyNoFontSize">
            We understand the vital role computer
            environments play and the problems that present when they don't per form as they should. Tech On-Site technicians are highly skilled and professional with the experience to meet most any computer hardware, software, peripheral or networking need.
        </p>
        <p class="scottstyleCopyNoFontSize">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/pages/Tech-On-Site-Computer-Services/120485108014986" target="_blank">
                <img alt="" class="auto-style6" height="41" src="images/Facebook-Logo%20-%20small.png" width="40" />
            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.yelp.com/biz/tech-on-site-computer-services-centennial" target="_blank">
                <img alt="" class="auto-style6" height="45" src="images/yelp%20logo.png" width="88" />
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.thumbtack.com/co/littleton/computer-repair/computer-services-tech-on-site-computer-services" target="_blank">
                <img alt="" class="auto-style6" height="80" src="images/thumbtack%20gold%20logo%20-%20smaller.png" width="81" />
            </a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="http://www.manta.com/c/mx33dl3/tech-on-site-computer-services" target="_blank">
                <img alt="" class="auto-style6" height="26" src="images/manta-logo.png" width="147" />
            </a>
        </p>

    </section>
</article>