@{
    ViewData["Title"] = "Home Page";
}
<section>
    <h2>PC Tune-Up</h2>
    <article>
        Over time, computers slow down - it’s just their nature. Internet activity, program installation, file storage and of course, malware, all contribute to drain system resources which can make for a sluggish pc. Tech On-Site technicians are experts in tune-up techniques and can restore your computer to like-new performance.
    </article>
    <ul>
        <li>Malware removal</li>
        <li>Removal of unneeded programs</li>
        <li>Preventing unnecessary applications from loading at startup</li>
        <li>Repairing system registry</li>
        <li>Defragmenting and optimizing system disc</li>
        <li>Our secret blend of performance tweaks</li>
        <li>Installing all operating system updates</li>
        <li>Updating key applications</li>
    </ul>
</section>