
<article>
    <aside>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Services" asp-action="MalWareRemoval">Virus Removal</a></li>
                        <li><a asp-controller="Services" asp-action="DesktopRepair">Desktop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="LaptopRepair">Laptop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="Networking">Networking</a></li>
                        <li><a asp-controller="Services" asp-action="Data">Data Backup / Recovery</a></li>
                        <li><a asp-controller="Services" asp-action="Cabling">Networking Cabling</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </aside>
    <section>
        <div class="row">
            <div class="col-xs-9">
                <hr style="height: 1px; color:black; border: 0px" />
                <h2 class="auto-style11">	Data Backup</h2>
                <p class="scottstyleCopyNoFontSize">Important data should be backed up regularly to an alternate, reliable and secure source other than your computer’s system hard disc, as hard discs often fail. Not having a reliable backup solution in place can lead to devastating and costly problems for businesses, and heartbreak for those who lose their electronic photos and videos. </p>
                <p class="scottstyleCopyNoFontSize">
                    Tech On-Site highly recommends
                    our cloud-based backup partner,
                    <a href="http://partners.carbonite.com/tech-on-site" target="_blank">Carbonite</a>.
                    Carbonite is a low-cost, simple-to-use and reliable off-site backup
                    solution. Just set it and forget it - it works in the background,
                    continuously backing up data as you work. Click any of the Carbonite
                    logos in this website, and you will be directed to Tech On-Site's
                    Carbonite partner page.
                </p>
                <p class="scottstyleCopyNoFontSize">Tech On-Site technicians can recommend and implement secure and reliable backup solutions to safeguard your valuable data; from affordable but effective external backup drives, to the most reliable and secure alternative– remote, online data backup.</p>
                <h2 class="auto-style11">	Data Recovery</h2>
                <p class="scottstyleCopyNoFontSize">
                    For a variety of reasons,
                    hard drives often fail, making the data on them inaccessible to an
                    operating system. It is also often incorrectly assumed that data
                    loss is permanent. At Tech On-Site, we understand how disturbing it
                    is to lose irreplaceable personal or business data. Fortunately, our
                    technicians can, in most instances, recover data using a variety of
                    means including sophisticated data recovery software.
                </p>
                <p class="scottstyleCopyNoFontSize">&nbsp;</p>
                </div>

                <!-- #EndEditable -->
                <!-- End Left Column -->
                <!-- Begin Right Column -->
            <div class="col-md-3">
                <section>
                    <hr style="height: 16px; color:black; border: 0px" />
                    <!-- #BeginEditable "sidebar" -->
                    &nbsp;<a href="http://partners.carbonite.com/tech-on-site" target="_blank"><img alt="Carbonite Partner" class="auto-style4" height="51" src="../images/CARB-Silver-Partner%20-%20261.jpg" width="212" /></a><img alt="Cloud Backup" height="133" src="../images/DataBackup.jpg" width="217" /><img alt="" height="231" src="../images/backup%20drive.jpg" width="217" /><img alt="" height="124" src="../images/wd%20passport.jpg" width="218" /><!-- #EndEditable -->
                </section>
            </div>
                </div>
    </section>
</article>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62739423-1', 'auto');
  ga('send', 'pageview');
    
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>