
<article>
    <aside>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Services" asp-action="MalWareRemoval">Virus Removal</a></li>
                        <li><a asp-controller="Services" asp-action="DesktopRepair">Desktop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="LaptopRepair">Laptop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="Networking">Networking</a></li>
                        <li><a asp-controller="Services" asp-action="Data">Data Backup / Recovery</a></li>
                        <li><a asp-controller="Services" asp-action="Cabling">Networking Cabling</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </aside>
    <section>


        <div class="row">
            <div class="col-xs-9">
                <hr style="height: 1px; color:black; border: 0px" />
                <h2 class="auto-style5">Desktop PC Repairs and Upgrades</h2>
                <p class="scottstyleCopyNoFontSize">
                    You can trust Tech On-Site technicians to perform a variety of services on your desktop PC, no matter the manufacturer. This includes repairing or upgrading the following hardware components:
                </p>
                <ul class="auto-style6">
                    <li>Hard Discs</li>
                    <li>CPUs</li>
                    <li>System Fans</li>
                    <li>Power Supplies</li>
                    <li>CD/DVD ROM (Optical) Drives</li>
                    <li>Motherboards</li>
                </ul>
                <p class="scottstyleCopyNoFontSize">Often times desktop PC problems are caused by software  issues, including device driver conflicts and corrupt system files. Tech  On-Site has the expertise to diagnose and resolve most any software-based  problem.</p>
                <p class="scottstyleCopyNoFontSize">
                    <span style="color: rgb(0, 0, 0); font-family: Arial; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);">
                        Interested in making your desktop pc faster than ever? Have us
                        replace your existing hard drive (HDD) with a new solid state
                        digital drive (SSD). SSDs are<span class="Apple-converted-space">&nbsp;</span>
                    </span><a href="http://ocz.com/consumer/ssd-guide/ssd-vs-hdd" style="font-family: Arial; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255);" target="_blank">
                        much
                        faster than HDDs, more durable, quieter and consume less power
                    </a><span style="color: rgb(0, 0, 0); font-family: Arial; font-size: medium; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 1; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none; background-color: rgb(255, 255, 255);">
                        .
                        We can often take your existing desktop hard drive and install it as an
                        internal data or backup drive. Trust us, SSD is the best upgrade you
                        can make to a PC!
                    </span>
                </p>
            </div>


            <div col-md-3>
                <aside>
                    @*id="column_r" style="z-index: 1">*@
                    <hr style="height: 16px; color:black; border: 0px" />
                    <!-- #BeginEditable "sidebar" -->
                    &nbsp;<img alt="ll" height="206" src="~/images/desktop_repair.jpg" width="202" /><img alt="ssd" height="193" src="~/images/samsung-ssd.jpg" width="205" /><!-- #EndEditable -->
                </aside>
            </div>
        </div>


    </section>
</article>