

<section>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Services" asp-action="VirusRemoval">Virus Removal</a></li>
                    <li><a asp-controller="Services" asp-action="DesktopRepair">Desktop Repair</a></li>
                    <li><a asp-controller="Services" asp-action="LaptopRepair">Laptop Repair</a></li>
                    <li><a asp-controller="Services" asp-action="VirusRemoval">Virus Removal</a></li>
                    <li><a asp-controller="Services" asp-action="Networking">Networking</a></li>
                    <li><a asp-controller="Services" asp-action="Data">Data Backup / Recovery</a></li>
                    <li><a asp-controller="Services" asp-action="Cabling">Networking Cabling</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>