
<article>
    <aside>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Services" asp-action="MalWareRemoval">Virus Removal</a></li>
                        <li><a asp-controller="Services" asp-action="DesktopRepair">Desktop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="LaptopRepair">Laptop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="Networking">Networking</a></li>
                        <li><a asp-controller="Services" asp-action="Data">Data Backup / Recovery</a></li>
                        <li><a asp-controller="Services" asp-action="Cabling">Networking Cabling</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </aside>
    <section>


        <div class="row">
            <div class="col-xs-9">
                <hr style="height: 1px; color:black;" />
                <h2 class="auto-style8">Laptop Repair &amp; Upgrades</h2>

                <p class="scottstyleCopyNoFontSize">
                    Laptops have numerous fragile parts laid out in
                    tight, complex configurations, making it essential that laptop technicians have
                    extensive training and experience to effectively perform upgrades and repairs. Tech On-Site
                    laptop technicians have formal lab-based training and years of experience
                    and can competently repair and upgrade almost any model laptop.
                </p>
                <p class="scottstyleCopyNoFontSize">
                    Our laptop services include
                    repairing, replacing or upgrading the following components:
                </p>
                <ul class="auto-style6">
                    <li>LCDs</li>
                    <li>DC Power Jacks</li>
                    <li>Keyboards</li>
                    <li>Hard Drives</li>
                    <li>Memory</li>
                </ul>
                <p class="scottstyleCopyNoFontSize">
                    Other issues we commonly see with laptop PCs are freezing and “blue screens.”
                    While the causes of these problems can be hardware or software based,
                    our technicians have the necessary diagnostic tools and expertise to
                    fix them.
                </p>
                <p class="scottstyleCopyNoFontSize">
                    Interested in making your laptop
                    faster than ever? Have us replace your existing hard drive (HDD)
                    with a new solid state digital drive (SSD). SSDs are
                    <a href="http://ocz.com/consumer/ssd-guide/ssd-vs-hdd" target="_blank">
                        much faster than HDDs, more durable, quieter and consume less power
                    </a>.
                    Take our word for it - go SSD!
                </p>
            </div>
            


            <div class="col-md-3">
                <hr style="height: 16px; color:black;" />
                <!-- #BeginEditable "sidebar" -->
                &nbsp;<img alt="fasd" height="144" src="../images/laptoprepair.jpg" width="198" class="auto-style2" /><img alt="Laptop Repair" class="auto-style7" height="149" src="../images/laptoprepair%20(1).jpg" width="197" /><img alt="ssd" height="143" src="../images/samsung%20ssd.jpg" width="206" /><!-- #EndEditable -->
            </div>
        </div>
        </section>
        <!-- End Right Column -->


    
</article>