
<article>
    <aside>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Services" asp-action="MalWareRemoval">Virus Removal</a></li>
                        <li><a asp-controller="Services" asp-action="DesktopRepair">Desktop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="LaptopRepair">Laptop Repair</a></li>
                        <li><a asp-controller="Services" asp-action="Networking">Networking</a></li>
                        <li><a asp-controller="Services" asp-action="Data">Data Backup / Recovery</a></li>
                        <li><a asp-controller="Services" asp-action="Cabling">Networking Cabling</a></li>
                    </ul>
                </div>
            </div>
        </div>



    </aside>
    <section>
        <div class="row">
            <div classs="col-xs-9">
                <hr style="height: 1px; color:black; border: 0px" />
                <h2 class="auto-style7">Network Cabling</h2>
                <p class="scottstyleCopyNoFontSize">
                    Tech On-Site is your trusted
                    source for all your business or residential data cabling
                    needs. Whether you need a line run from the basement to another
                    floor, from one room or office to another or a patch panel installed with
                    multiple cables run to distant offices, Tech On-Site techs can take care of it, cleanly and
                    professionally.
                </p>
                <p class="scottstyleCopyNoFontSize">
                    One application we
                    frequently encounter is when a customer's wireless router can't reach an area where they need wireless access.
                    To solve this problem, we typically run an ethernet cable from the router to the area in
                    need of service and install a wireless access point. Wireless devices can
                    then get full-strength WiFi signals which optimizes data speeds.
                </p>
                <p class="scottstyleCopyNoFontSize">
                    If you have a data cabling need,
                    give us a call! We can handle it.
                </p>
                <p class="scottstyleCopyNoFontSize">&nbsp;</p>
                <p class="scottstyleCopyNoFontSize">&nbsp;</p>
            </div>

            <div class="col-md-3">
                <hr style="height: 16px; color:black; border: 0px" />

                &nbsp;<img alt="Ethernet Pic" height="111" src="../images/optical-fiber-ethernet-cable.png" width="203" class="auto-style5" />
                <img alt="Patch" class="auto-style6" height="135" src="../images/patch%202.jpg" width="204" />
            </div>
        </div>

    </section>
</article>